@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.heading-1 {
  font-family: monospace;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 600;
}

.heading-2 {
  font-family: monospace;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 1.5rem;   
  line-height: 2rem;                  
  font-family: monospace;    
  font-weight: 500;
  text-wrap: balance;
}

.btn-text {
  font-size: 1.125rem;     
  line-height: 1.75rem;    
}

.flex-col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;     
}

.flex-row-centered {
  display: flex;
  flex-direction: row;     
  justify-content: center;
}

.animate-pop-up {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.animate-pop-up:hover {
  translate: 0 -0.25rem;
  scale: 1.1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --animate-fade-in: fade-in 1s ease-in;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
